apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit-operator
  namespace: streamlit
  labels:
    app: streamlit-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: streamlit-operator
  template:
    metadata:
      labels:
        app: streamlit-operator
    spec:
      serviceAccountName: streamlit-serviceaccount
      initContainers:
        - name: git-sync
          image: registry.k8s.io/git-sync:v3.1.3
          env:
            - name: GIT_SYNC_REPO
              value: https://github.com/fetch-rewards/streamlit-operator.git
            - name: GIT_SYNC_BRANCH
              value: feature/migrate-k8s-to-helm
            - name: GIT_SYNC_ROOT
              value: /tmp/code
            - name: GIT_SYNC_DEST
              value: "repo"
            - name: GIT_SYNC_ONE_TIME
              value: "true"
          volumeMounts:
            - name: code
              mountPath: /tmp/code
      containers:
      - name: streamlit-operator
        image: python:3.8.5
        env:
          - name: BASE_DNS_RECORD
            value: {{ required "Must provide a base dns to host your Streamlit apps" .Values.baseDnsRecord }}
        ports:
        - containerPort: 80
        volumeMounts:
          - name: code
            mountPath: /app
          - name: config
            mountPath: "/config"
            readOnly: true
        workingDir: /app/repo/
        command: ["/app/repo/src/start.sh"]
      volumes:
        - name: code
          emptyDir: { }
        - name: config
          configMap:
            name: streamlit-operator-config
            items:
              - key: config.yaml
                path: config.yaml